@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

html {
  font-family: DotGothic16;
  background-color: rgb(12, 12, 31);
  color: white;
}

h1 {
  position: absolute;
  top: 0;
}

#toolbar {
  position: absolute;
  right: 150px;
  top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  height: 100px;
  width: 50px;
}

button {
  display: flex;
  height: 25px;
  width: 25px;
  margin: auto;
}

img {
  height: 25px;
  width: 25px;
  display: flex;
  color: white;
  cursor: pointer;
  margin: auto;
}
